header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: url(/images/fon.png) top no-repeat;
    background-size: cover;
}

.title {
    border: 6px solid;
    padding: 10px;
    border-color: aliceblue;
    font-size: 50px;
	color: rgb(53, 65, 130);
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}

.nesw {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(53, 65, 130);;
    text-decoration: none;
}

article a:hover {
    color: orange;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article video {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* кнопка "читать далее" */
article .text {
    max-height:100px;
    overflow: hidden;
    position: relative;
}

/* скрываем checkbox */
.read-more-checker {
opacity: 0;
position: absolute;
}

/* делаем кнопку */
.read-more-button {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    color: rgb(64, 58, 152);
    border: 3px solid rgb(53, 65, 130);
    border-radius: 4px;
}
/* надпись в кнопке */
.read-more-checker ~ .read-more-button:after {content: 'Читать далее >>';}
/* изменение текста в кнопке при нажатии */
.read-more-checker:checked ~ .read-more-button:after {content: 'Скрыть <<';}
/* раскрываем полную инфлормацию */
.read-more-checker:checked ~ .text {
    max-height: none;
}