header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(/images/fon.png) top no-repeat;
    background-size: cover;
}

.title {
    border: 6px solid;
    padding: 10px;
    border-color: aliceblue;
    font-size: 70px;
	color: rgb(53, 65, 130);
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}